/* 
    Document   : javaadoption
    Created on : 19.02.2013, 12:13:47
    Author     : AdoptOpenJDK
    Description:
        Purpose of the stylesheet follows.

        Custom styling for the JCountdown site
*/

a {
    color: #FFFFFF;
}

#geoMessage {
    font-weight: bold;
}

#map {
    margin: 20px;

}

aside.white {
    background: #FFFFFF;
    color: #000000;
}

article a {
    color: #004066;
    font-weight: bold;
}